.footer {
    background-color: #060606;
    color: white;
    padding: 1rem;
    position: sticky;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  .footer .social-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .footer .social-links a:hover {
    text-decoration: underline;
  }